
.ra-sidemenu-container {
  background-color: rgb(63, 63, 63);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
.ra-sidemenu-ul {
  display: flex;
  justify-content: center;
}
.ra-boletastable-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
 
}
.ra-number-input{
  padding: 1em;
  max-width: 80px;
  margin: 2px;
  appearance: none;
  margin: 0;
}
.ra-disponible{
  background-color: rgb(110, 204, 110);
}
.ra-cancelado{
  background-color: rgb(156, 156, 156);
}
.ra-abonado{
  background-color: rgb(223, 223, 109);
}
.ra-number-container{
  font-size: 24px;
  font-weight: 700;
}
.ra-div-table {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 80%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }

  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }

  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.ra-pagination-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em;
}
.ra-sidemenu-element {
  padding: 1em;
}

.ra-admindashboard-container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: #cecece;
  min-height: 700px;
}

.ra-fade-animation {
  animation-name: fade;
  animation-duration: 100ms;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .ra-sidemenu-ul {
    flex-direction: column;
  }
  .ra-div-table {
    table {
      border: 0;
    }

    table caption {
      font-size: 1em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      height: 40px;
      font-size: 0.8em;
      text-align: right;
    }

    table td::before {
      /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
}
