

  .ra-boletasgeneral-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 2em;
    margin: 0;
  }
.ra-buscarboleta-box{
  margin: 2em;
  background-color: #fafafa;
  padding: 2em;
  input{
    padding: 5px;
    font-size: 18px;
    border: 1px solid gray;
  }
}
  .ra-number-input{
    padding: 1em;
    max-width: 50px;
    margin: 2px;
    appearance: none;
    margin: 0;
  }
  .ra-disponible{
    background-color: rgb(110, 204, 110);
  }
  .ra-cancelado{
    background-color: rgb(156, 156, 156);
  }
  .ra-retirado{
    background-color: rgb(223, 223, 109);
  }
  .ra-number-container{
    font-size: 24px;
    font-weight: 700;
  }
  .ra-div-table {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 80%;
      table-layout: fixed;
    }
  
    table caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }
  
    table tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      padding: 0.35em;
    }
  
    table th,
    table td {
      padding: 0.625em;
      text-align: center;
    }
  
    table th {
      font-size: 0.85em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
  
  .ra-pagination-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
  }
  .ra-sidemenu-element {
    padding: 1em;
  }
  .ra-sidemenu-element:hover {
    background-color: #333;
  }
  .ra-admindashboard-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: #cecece;
    min-height: 700px;
  }
  
  .ra-fade-animation {
    animation-name: fade;
    animation-duration: 100ms;
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (max-width: 600px) {
    .ra-sidemenu-ul {
      flex-direction: column;
    }
    .ra-div-table {
      table {
        border: 0;
      }
  
      table caption {
        font-size: 1em;
      }
  
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
  
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
      }
  
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        height: 40px;
        font-size: 0.8em;
        text-align: right;
      }
  
      table td::before {
        /*
              * aria-label has no advantage, it won't be read inside a table
              content: attr(aria-label);
              */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
  
      table td:last-child {
        border-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .ra-main-table {
      font-size: 14px; /* Aumenta el tamaño de fuente en computadoras */
      width: 90%; /* Aumenta el ancho de la tabla en computadoras */
    }
  
    .ra-main-table th,
    .ra-main-table td {
      padding: 0.75em; /* Aumenta el espaciado interno en computadoras */
    }
  }